* {
  color: #fff;
  font-family: 'PT Mono', monospace;
}

body {
  min-height: 100vh;
  background-color: #041627e5;
  font-weight: 700;
}

header {
  min-height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4.375rem;
  background-color: #182632;
  border-bottom: 0.0625rem solid #243241;
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 0 1.875rem;
}

.nav_item {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav_list a {
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid transparent;
  transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
}

.nav_list a:hover {
  color: #FFC803;
  border-bottom-color: #FFC803;
}

.menu_icon {
  display: none;
  height: 1.875rem;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Media query 820px screens */
@media only screen and (max-width: 51.25rem) {
  .register_btn,
  .menu_icon.close {
    display: none;
  }

  .menu_icon.burger {
    display: inline-block;
  }

  .navbar {
    padding: 0 1.25rem;
    justify-content: space-evenly;
  }

  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-image: linear-gradient(135deg, #FFF5C3 10%, #9452A5 100%);
    border: 0.0625rem solid #243241;
    width: 100%;
    font-size: 18px;
  }

  .nav_list.active {
    display: flex;
  }

  .nav_list a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding-bottom: 0.625rem;
    margin: 0 1.25rem 0.3125rem;
    border-bottom: 0.125rem solid transparent;
    transition: color 0.3s ease, border-bottom 0.4s ease-in-out;
  }
}

.navbar {
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
}

/* Animation for sliding up */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.nav_list.active {
  animation: slideDown 0.5s ease-in-out;
}

.nav_list:not(.active) {
  max-height: 0;
  animation: slideUp 0.5s ease-in-out;
  overflow: hidden;
}

/* --------- Todo Section */
.todo_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 10px;
}

.todo_container {
  width: clamp(180px, 100%, 726px);
}

.todo_input,
.completed {
  max-width: 100%;
  padding: 21px 136px 23px 28px;
  margin: 20px 0;
  border-radius: 16px;
  border: 2px solid #2A3744;
  background-color: #121E28;
  width: 100%;
}

.add_btn {
  padding: 16px 35px 22px 47px;
  min-width: 190px;
  background: #FFC803;
  border-radius: 16px;
  box-shadow: 0px 8px 40px 0px #ffc80333;
  font-size: 20px;
  vertical-align: middle;
  width: 20%;
}

@media (max-width: 280px) {
  .todo_input {
    padding: 21px 40px 23px 28px;
  }
}

.todo_list li {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px 0;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #01a2b4ae;
  overflow: hidden;
}

.todo_list li input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.delete_icon {
  width: 30px;
  cursor: pointer;
}

.todo_list li {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px 0;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #01a2b4ae;
  overflow: hidden;
  position: relative;
}

.completed {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border: 2px solid #ffc803bc;
  text-decoration: line-through;
}

.todo_list li input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}

.delete_icon {
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.delete_all_btn {
  background-color: transparent;
  display: none;
  font-size: 22px;
  color: #fd5c63;
}

.delete_all_btn:hover {
  color: #FF033E;
}